/* PC */
@media(min-width:64em) {}

@media(max-width:63.9em) {
   
}

/* Tablet */
@media(min-width:740px)and (max-width:1023px) {}

/* Mobile */
@media(max-width:46.1875em) {
   #header{
    display: none;
   }
   .img-2{
    display: none;
   }
   .img-1{
    width: 100%;
   }
   #slider{
    margin-top: 0px;
   }
}